* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    --powder-blue: rgb(115, 134, 213);
    --light-blue: rgb(160, 182, 245);
    --white: rgb(241, 241, 241);
    --red: rgb(255, 44, 44);
}

@font-face {
    font-family: Lato;
    src: url(resources/Lato-Light.ttf);
}

::selection
{
    background: powderblue;
}

body {
    background: var(--white);
    height: calc(100svh);
    width: calc(100svw);
    display: grid;
    gap: 0.5rem;
    justify-items: center;
    grid-template-rows: 1fr 0.5fr 6fr;

    &>div {
        width: min(95vw, 1280px);
        margin-left: 2.5svw;
        margin-right: 2.5svw;
    }
}

#addBookLayer {
    position: fixed;
    width: 100svw;
    height: 100svh;
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
    justify-items: center;
    transition-duration: 0.25s;
    animation-duration: 0.25s;
    z-index: 999;

    &>#addBookDialog {
        background-color: rgb(255, 255, 255, 0.85);
        box-shadow: 0px 0px 20px 20px rgb(255, 255, 255, 0.85);
        padding: 2em;
        border: none;
        position: absolute;
        width: max-content;
        & img[src$='.svg']
        {
            width: 1em;
            padding: 0.5em;
        }
        & #closeAddBook
        {
            cursor: pointer;
            width: fit-content;
            position: absolute;
            right: 0;
            top: 0;
        }
        & fieldset
        {
            border: none;
            font-family: Lato;
            padding: 1em;
            justify-items: center;
            align-items: center;
            font-size: 1.25rem;
            display: grid;
            gap: 1em;
            & legend
            {
                font-size: 1.5rem;
                padding: 0.5rem;
                width: 100%;
            }
            & hr
            {
                height: 0.07em;
                color: black;
                width: 100%;
            }
        }
        & input
        {
            transition-duration: 0.5s;
            font-family: Lato;
            font-size: 1.25rem;
            outline: none;
            background-color: rgba(255, 255, 255, 0);
            border: 0.07em solid black;
            border-left: none;
            border-right: none;
            border-top: none;
        }
        & input:focus
        {
            border-color: var(--powder-blue);
            transform: scaleX(1.05);
        }
        & button
        {
            border: none;
            border-radius: 0.5rem;
            background-color: var(--powder-blue);
            color: var(--white);
            font-size: 1.1rem;
            width: max-content;
            padding: 0.5em;
            transition-duration: 0.5s;
        }
        & button:focus
        {
            outline: none;
            transform: scale(1.1);
        }
        & button:active
        {
            background-color: hsl(228, 54%, 44%);
        }
        & .radioButtons
        {
            display: grid;
        }
    }
}

#header {
    display: grid;
    font-family: Lato;
    color: var(--powder-blue);
    font-weight: bold;
    grid-template-columns: 6fr 1fr;

    &>div {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    & h1 {
        font-size: 3rem;
    }
}

#info-bar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--red);
    color: var(--white);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: calc(1rem + 0.5vw);
    justify-items: center;
    border-radius: 0.5rem;
    & > #displayAddBookDialog
    {
        cursor: pointer;
    }
}

#content-container {
    overflow-y: scroll;
    scrollbar-width: none;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes reappear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 250px;
    grid-auto-rows: 250px;
    gap: 1rem;
    transition-duration: 1s;

    &>div {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0.5fr;
        padding: 1em;
        font-size: 1.5rem;
        border-radius: 0.4rem;
        background-color: var(--light-blue);
        color: var(--white);
        position: relative;
        transition-duration: 1s;

        &>name {
            width: 100%;
            justify-self: center;
            font-size: 1.75rem;
            font-weight: bolder;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &>author, pages
        {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &>button {
            justify-self: center;
            background-color: var(--white);
            transition-duration: 0.5s;
            cursor: pointer;
            border: none;
            border-radius: 0.25em;
            font-size: 1rem;
            width: 50%;
        }
    }

    & .read {
        background: linear-gradient(45deg, rgba(255, 255, 255, 0), var(--powder-blue) 50%);
        background-color: var(--powder-blue);
        transition-duration: 1s;
    }

    & .read:hover {
        background-color: var(--light-blue);
    }

    & .unread {
        background: linear-gradient(45deg, rgba(255, 255, 255, 0), var(--light-blue) 50%);
        background-color: var(--light-blue);
        transition-duration: 1s;
    }

    & .unread:hover {
        background-color: var(--white);
    }

    & .deleteBook
    {
        background-size: 1em;
        height: 0.67em;
        width: 0.67em;
        padding: 0.3em;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.slideOut
{
    animation-name: disappear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.slideIn
{
    animation-name: reappear;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}